* {
	box-sizing: border-box;
}

html {
	font-family: "Lucida Sans", sans-serif;
}

.header {
	background-color: #025DFF;
    color: #ffffff;
    padding: 10px;
}

.menu ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
	padding: 5px;
  	margin-bottom: 5px;
    background-color: #0BE3FF;
    color: #ffffff;
    /* cssmatic.com */
    box-shadow: 0 2px 2px rgba(0,0,0,0.75);
}

.menu li:hover {
	/* slightly darker color on hover */
	background-color: #0BDBFF;
}

.aside {
	background-color: #02F08F;
    color: #ffffff;
    padding: 5px;
    text-align: center;
    /* cssmatic.com */
    box-shadow: 0 2px 2px rgba(0,0,0,0.75);
}

.footer {
	background-color: #025DFF;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

img {
	/* image will scale down but never scale up to be larger than original */
	max-width: 100%;
    height: auto;
}

[class*="col-"] {
	float: left;
    padding: 10px;
    width: 100%;
}

/* clearfix hack */
.row::after {
	content: "";
    clear: both;
    display: table;
}

@media (min-width: 600px) {
	/* for tablets */
    .col-s-1 {width: 8.33%}
    .col-s-2 {width: 16.66%}
    .col-s-3 {width: 25%}
    .col-s-4 {width: 33.33%}
    .col-s-5 {width: 41.66%}
    .col-s-6 {width: 50%}
    .col-s-7 {width: 58.33%}
    .col-s-8 {width: 66.66%}
    .col-s-9 {width: 75%}
    .col-s-10 {width: 83.33%}
    .col-s-11 {width: 91.66%}
    .col-s-12 {width: 100%}
}

@media (min-width: 768px) {
	/* for desktops */
    .col-1 {width: 8.33%}
    .col-2 {width: 16.66%}
    .col-3 {width: 25%}
    .col-4 {width: 33.33%}
    .col-5 {width: 41.66%}
    .col-6 {width: 50%}
    .col-7 {width: 58.33%}
    .col-8 {width: 66.66%}
    .col-9 {width: 75%}
    .col-10 {width: 83.33%}
    .col-11 {width: 91.66%}
    .col-12 {width: 100%}
}